{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!--- navbar -->
    {% include 'components/navbar.html' %}
    <!--- navbar -->

    <div class="container mt-3">
      <div class="row">
        <!--- sol -->
        <div class="col-sm-9">{% block content %}{% endblock content %}</div>
        <!--- sol -->

        <!--- sağ -->
        <div class="col-sm-3">
          <!--- sidebar -->
          {% include 'components/sidebar.html' %}
          <!--- sidebar -->
        </div>
        <!--- sağ -->
      </div>
    </div>

    <!--- footer -->
    {% include 'components/footer.html' %}
    <!--- footer -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
